.table {
    border-collapse: collapse;
    text-align: center;
}

.table__data {
    border: 1px solid #ddd;
    padding: 8px;
}

.table__header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}